<h1>Articles</h1>

<% if Article.kept.public_count == 0 %>
  Our blog has no articles for now, be the first to write one!
<% else %>
  Our blog has <%= Article.kept.public_count %>
  <% if Article.kept.public_count == 1 %>
    article
  <% else %>
    articles
  <% end %>
  and counting!
<% end %>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>