<ul>
    <li>
        <%= link_to "Go to Blog", controller: "articles", action: "index" %>
    </li>
    <li>
        <%= link_to "Go to Category List", controller: "categories", action: "index" %>
    </li>
</ul>